/* Working.css */
.working-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .messages-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .message {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .icon {
    color: green;
    margin-right: 10px;
  }
  